
.row.header
  .span6
    .app-icon
      = image_tag 'teep_icon.png', class: 'icon'
  .span6.download
    .row.teep
      %h1 TEEP
    .row
      %h2 Simple as, shit.
    .row
      = image_tag 'AppStoreSign.png'

.row.bottom
  .span4
    .bottom-icon
      = image_tag 'choose_icon.png'
    .row.choose
      Choose
  .span4
    .bottom-icon
      = image_tag 'oder_icon.png'
    .row.order
      Order
  .span4
    .bottom-icon.relax
      = image_tag "relax_icon.png"
    .row.relax
      Relax