!!!
%html
  %head
    = csrf_meta_tags
    %title= Rails.env.development? ? 'TEEP DEV' : 'Teep'
    = stylesheet_link_tag 'screen'
    = javascript_include_tag "application"

  %body
    .container
      .bg
      = yield
      %footer
        .row
          © 2013 Ryan Romanchuk  |  Terms  |  Privacy